			/* Stile per index.html e per tutte le altre pagine */

body {
	font-family: 'Manrope', sans-serif;
}

a {
	color: white !important;
}

h1 {
	font-size: 80px;
	background-image: linear-gradient(to right, rgba(179, 0, 0, 1), rgba(179, 0, 0, 0));
	margin: 0;
}

h2 {
	margin-left: 20px;
	margin-top: 50px;
}

.link-black {
	color: black !important;
}

.txt-style {
	text-align: center !important;
	padding: 2.5%;
	color: white;
}

.background-color-1 {
	background-color: darkgray;
}

.background-color-2 {
	background-color: gray;
}

.background-logo {
	background-color: #b30000;
}

.img-logo-size {
	max-width: 100%;
	object-fit: contain;
}

.icon-img {
	background-image: url("../img/index/head.jpeg");
}

.user-icon {
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 5em;
	height: 5em;
	background-color: white;
	border-radius: 50%;
}

.navbar-style {
	padding: 0;
	background-color: white !important;
}

.sticky {
	position: sticky;
	top: 0;
	z-index: 2;
}

.nav-footer-color {
	background-color: white;
	color: black !important;
}

.nav-footer-color:hover {
	background-color: #b30000 !important;
	color: white !important;
	transition-duration: 0.3s;
}

.navbar-active {
	color: white !important;
	background-color: #660000 !important;
	pointer-events: none;
}

.search-style {
	border-color: transparent;
	border-left-color: gray;
	margin: 0 !important;
}

.search-button {
	color: white;
	border-radius: 0 !important;
	padding: 8px !important;
	border-color: transparent;
	background-color: #b30000;
}

.search-button:hover {
	color: white;
	border-radius: 0;
	border-color: transparent;
	background-color: #660000;
	transition-duration: 0.3s;
}

.button-success:active {
	background-color: #660000 !important;
	border-color: #660000 !important;
	box-shadow: none !important;
}

.container-hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/index/abstract.jpeg);
	background-size: cover;
	width: 100%;
	height: auto;
}

.box {
	margin: auto;
	padding-top: 5%;
	color: black;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 0;
	box-shadow: 10px 10px;
}

.container-box {
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
	color: black;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 0;
}

.img-size {
	margin-top: 6%;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
	height: 30%;
	display: block;
	border: solid;
	border-color: black;
	border-width: 3px;
}

.overview-img {
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.overview-txt-style {
	display: block;
	margin: auto;
	text-align: center;
}

.button-align {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.red-button-style {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
	border-color: #b30000;
	background-color: #b30000;
	box-shadow: none !important;
}

.red-button-style:hover {
	background-color: #660000 !important;
	border-color: #660000 !important;
}

.hr-darkgray {
	color: darkgray;
	margin-bottom: -1%;
}

.carousel-img {
	margin: auto;
	margin-bottom: 10%;
}

.row-margin {
	margin-bottom: 6%;
}

.col-align {
	margin: auto;
}

.card-size {
	width: 244px;
	height: 345px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0;
}

.card-img-overlay {
	opacity: 0;
}

.card-img-overlay:hover {
	background-color: #e9ecef;
	transition-duration: 0.3s;
	opacity: 0.7;
	color: black;
	border-radius: 0;
}

#img-size-special-1 {
	margin-top: auto;
	margin-bottom: auto;
}

#img-size-special-2 {
	max-height: 100%;
}

#img-size-special-3 {
	height: 120%;
	margin-top: -14%;
}

.img-size-1 {
	width: 90%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.row-style {
	margin-left: 8%;
	margin-right: 8%;
	text-align: center;
}

.txt-footer {
	text-align: center !important;
	margin-top: -5%;
	padding: 2.5%;
}

.ex-logo-size {
	max-width: 100%;
	max-height: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hr-white {
	background-color: white;
}

.footer {
	background-color: gray !important;
	text-decoration: underline;
	text-decoration-color: white;
	border-color: transparent;
}


			/* Stile esclusivo per fotografie.html */

.breadcrumb-link {
	color: darkgray !important;
}

.main-padding {
	padding-bottom: 7%;
}

.box-1 {
	line-height: 30px;
	padding: 0.5%;
	color: black;
	background-color: white;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 0;
	box-shadow: 10px 10px;
}

.text-align-center {
	text-align: center;
}

.word-cloud-size {
	width: inherit; 
	height: 300px;
}

.filter-style {
	position: sticky;
	top: 50px;
	z-index: 1;
	overflow-y: scroll;
	color: black;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-radius: 0;
	width: 40%;
	height: 650px;
	margin-top: 3.2%;
	margin-right: -0.9%;
	margin-bottom: 6%;
	margin-left: 0.9%;
}

.dropdown-margin {
	margin-top: 10%;
}

.dropdown-border {
	border-radius: 0;
}

h3 {
	margin-top: 8%;
	font-size: 20px;
}

.col-margin {
	margin-top: 4%;
	margin-bottom: 3%;
}

.button-overlay-margin {
	margin-top: 5%;
}

.card-img-size {
	margin-top: 10%;
	max-height: 121.43px;
	object-fit: contain;
}

.light-red-button-style {
	border-color: #660000 ;
	background-color: #660000;
	border-radius: 0;
	box-shadow: none !important;
}

.light-red-button-style:hover {
	background-color: #b30000 !important;
	border-color: #b30000 !important;
}

.nav-pagination {
	border-radius: 0 !important;
	border: transparent;
	background-color: #b30000;
	box-shadow: none !important;
}

.nav-pagination:hover {
	background-color: #660000 !important;
}

.nav-pagination-active {
	border-radius: 0;
	border-width: 0;
	background-color: #660000 !important;
	pointer-events: none;
}


			/* Stile esclusivo per elemento-foglia.html */

.h2-special {
	margin-top: 0%;
}

.user-action {
	position: sticky;
	top: 50px;
	z-index: 1;
	color: black;
	background-color: white;
	border-style: solid;
	border-color: black;
	border-radius: 0;
	max-width: 12% !important;
	height: 340px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
}

.icon-action {
	width: 2em;
	height: 2em;
}

#box-1-special {
	margin-top: 3%;
}

#map {
	height: 400px;
    width: 99%;
    margin-top: 1%;
    z-index: 1;
}

.leaflet-container a {
	color: black !important;
}


		/* Pagina web project plan */

.button-list-position {
	margin-top: 30%;
	margin-bottom: 13%;
	position: sticky;
	top: 50px;
}

.button-index-style {
	margin-bottom: -5%;
	border-bottom-color: white;
	background-color: #b30000 !important;
	border-radius: 0 !important;
}

#last-button-index {
	border-bottom-color: transparent;
}

.h3-plan {
	font-size: 28px;
}

.line-height-plan {
	line-height: 30px;
}

.button-plan {
	margin-top: 1%;
	margin-bottom: 1.5%;
	border-radius: 0;
	border-color: transparent;
	background-color: #b30000;
	box-shadow: none !important;
}

.button-plan:hover {
	background-color: #660000 !important;
	border-color: #660000 !important;
}

.img-width-plan {
	width: 45%;
}
